spring:
  redis:
    port: 6379
    host: 127.0.0.1
#    password: xiaopeng
    database: 0
  kafka:
    # 以逗号分隔的地址列表，用于建立与Kafka集群的初始连接(kafka 默认的端口号为9092)
    bootstrap-servers: 127.0.0.1:9092
    consumer:
      group-id: test-consumers
    listener:
      ack-mode: manual_immediate
server:
  port: 8082
